<!-- Layout -->
<div data-role="view" id="share" data-layout="default" class="share-view">
    <header data-role="header">
        <div data-role="navbar">
            About this app
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>
    <div id="aboutInfo" class="user-info">
       <h2>About</h2>
        <p>
            Is you significant other always "right". Does he/she tend to brag about it all the time?
            <br>
            If so - this app is for you - you can add a new "wrongie" whenever your boy/girlfriend is wrong so that you can savor this moment for ever.
            You can also browse other people's "wrongies" and see a statistic of wrongdoing men vs women.
            <p>This a joke app and it's main purpose is to entertain.</p>
        </p>
    </div>
</div>