<!-- Layout -->
<div data-role="view" id="share" data-layout="default" class="share-view"
     data-init="app.viewModels.addWrongie.init" data-show="app.viewModels.addWrongie.show" data-model="app.viewModels.addWrongie">
    <header data-role="header">
        <div data-role="navbar">
            Who was wrong?
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveWrongie">Post</a>
        </div>
    </header>
    <div id="enterStatus" class="share-form-wrp">
        <div class="user-info">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
            <h2 data-bind="text: me.get('data').DisplayName">Me</h2>
        </div>
        <div class="user-share">
            <input id="gender" name="gender" /> was wrong 
            <textarea id="newWrongie" placeholder="About what?" required validationMessage="Content is required!"></textarea>
            <div id="newCommentValidation" class="validation">Content is required!</div>
        </div>
        <div id="pictureUploadButton" 
             data-role="touch" 
             data-bind="events: { tap: addWrongieImage }" 
             class="km-button">
            Add image (optional)
        </div>
    </div>
</div>